<p>Travel Credits: <%= @user.travel_credits %></p>
<p>Energy: <%= @user.energy %></p>
<p>Fun: <%= @user.fun %></p>

<%= link_to "Review Most Recent Trip", review_url(@user) if @user.trips.any? && @user.last_trip.rating.nil? %><br>
<%= link_to "Recommended Trips", recommended_url %><br>
<%= link_to "Past Trips", user_trips_path(@user.id) if current_user == @user %>
