<p>Energy: <%= @user.energy %></p>
<p>Fun: <%= @user.fun %></p>

<%= link_to "Review Most Recent Trip", review_url(@user) if @user.trips.any? && @user.last_trip.rating.nil? %><br>
<%= link_to "Recommended Trips", recommended_url %>

<h3>Past Trips</h3>

<%= render 'locations/locations', locations: @user.trip_locations.uniq %>
