<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <%= form_for @user do |f| %>
      Name: <%= f.text_field :name %>
      Energy: <%= f.select :energy, [['1 - Tired',1],2,3,4,['5 - Rested',5]] %>
      Fun: <%= f.select :fun, [['Bored',1],2,3,4,['Exhilirated',5]] %>
      Password: <%= f.password_field :password %>
      Password Confirmation: <%= f.password_field :password_confirmation %>
      Admin <%= f.check_box :admin %>
      <%= f.submit "Sign Up" %>
    <% end %>
  </body>
</html>
