<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <%= form_for @user do |f| %>
      <%= render 'form', f: f %>
      <p>Password: <%= f.password_field :password %>
      Password Confirmation: <%= f.password_field :password_confirmation %></p>
      <p>Admin <%= f.check_box :admin %></p>
      <%= f.submit "Sign Up" %>
    <% end %>
  </body>
</html>
