<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= location.name %></h2>
    <% if current_user.admin? %>
      Created by: <%= @location.user.name %>
    <% end %>
    <p><%= location.description%></p>
    <p>Price: $<%= location.price %>
    | Activity Rating: <%= location.activity_rating %> |
    Excitement Rating: <%= location.excitement_rating %></p>
  </body>
</html>
