<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @location.name %></title>
  </head>
  <body>
    <%= render 'location', location: @location %>

    <%= button_to "Take Trip", take_trip_url(@location) unless current_user.admin? %>

    <%= link_to "Update Price", edit_location_path(@location) if current_user.admin?%>
    <%= link_to "Edit Location", edit_admin_location_path(@location)if @location.user == current_user %>
  </body>
</html>
